{
  "module": {
    "type": "es6"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2022"
  },
  "env": {
    "targets": [
      "maintained node versions and not node < 16"
    ]
  }
}
